.conn_panel_1{
    top: 0%;
    left: 0%;
    height: 91%;
    width: 100%;
    padding: None;

}

.modul_lyt{
    top: 0%;
    left: 0%;
    position: relative;
    height: 20%;
    width: 20%;
    padding: None;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 176, 5);
}