.center_graph_panel{
    border-radius: 6px;
    left: 20%;
    width: 100%;
    height: 95.5%;
    margin: 0.2%;
    overflow: hidden;
    background-color: var(--bg_color_II);
}

.center_graph{
    width: 100%;
    height: 33%;
    border-radius: 6px;
    overflow: hidden;
}

.plot_graph{
    border-radius: 6px;
    left: 20%;
    width: 99%;
    height: 95%;
    margin: 0.2%;
    overflow: hidden;
    background-color: var(--bg_color_II);

}