.center_graph_panel{
    width: 65%;
    height: 88vh;
    top: 0%;
    left: 20%;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    background-color: var(--bg_color_II);
}

.center_graph_container{
    width: 100%;
    height:33%;
    margin: 0%;
    border-radius: 6px;
    overflow: hidden;
}

.center_graph{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
}