:root{
    --bg_color_I:black;
    --bg_color_II:#00242b;
    --bg_color_III:#2e4e55;
    --bg_color_mdl:#395d64;
    /* --bg_color_priority:#4f66a5; */
    --text_color_I:#ccebfd;
    --text_color_II:#f98a02;
    --text_color_active: rgb(0, 0, 0);
    --red_alert_color:#ed1111;
    --hover_color:#005161;
    --active_color:#009ebd;
    --yellow_alert_color:#fff30f;
}

.hide{
    display: none;
}

body{
    background-color: var(--bg_color_I);
    color: var(--bg_color_I);
    height: 100%;
    overflow: hidden;
}
.background{
    position: relative;   /* wichtig! */
    width: 100%;
    height: 100%;
    background: var(--bg_color_I);
    overflow: hidden;
}
.layouts_style{
    background-color: var(--bg_color_I);
    color: var(--bg_color_I);
    height: 100vh;
    overflow: hidden;
}
.priority_btn{
    background-color: var(--bg_color_III);
    color: var(--text_color_II);
    border: none;
    margin: 2px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    font-family: "Arial";
}
.priority_btn:hover {
    background-color: var(--active_color);
}
.priority_btn:active {
    background-color: var(--text_color_I);
}
.ha{
    background-color: var(--bg_color_II);
    color: var(--text_color_I);
    border: none;
    margin: 2px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    font-family: "Arial";
}
.ha:hover {
    background-color: var(--hover_color);
}
.ha:active {
    background-color: var(--active_color);
    color: var(--text_color_active);
}
.tabbar_btn{
    border: none;
    margin: 2px;
    border-radius: 6px;
    background-color:var(--bg_color_III);
    color: var(--text_color_I);
}
.tabbar_btn:hover{
    background-color:var(--hover_color);
    color: var(--text_color_I);
}
.tabbar_btn:active{
    background-color: var(--active_color);
    color: var(--text_color_active);
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #ccc;
}

.tabbar{
    top: 90%;
    left: 0%;
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 2000;
    display: grid;
    grid-template-columns: [row1-start] 16% [line1] 10%  [line2] 8% [line3] 8% [line4] 8% [line5] 8% [line6] 8% [line7] 8% [line8] 16% [line9] 10% [line10];
    grid-template-rows: [first] 100% [end];
}
.side_panel_II{
    top: 0.2%;
    right: 0%;
    width: 15%;
    height: 93%;
    position: fixed;
    z-index: 1000;
    display: grid;
    grid-template-rows: [first] 16% [line2] 16%  [line3] 16%  [line4] 16% [line5] 16% [line6] 16% [end];
}

.left_controlled_page{
    top: 0.2%;
    left: 0%;
    width: 86.5%;
    height: 93%;
    position: fixed;
    z-index: 1000;
    display: grid;
    grid-template-columns: [first] 24% [line2] 74% [end];
}

.full_page{
    top: 0.5%;
    left: 0%;
    width: 100%;
    height: 93%;
    position: fixed;
    z-index: 1000;
    display: grid;
    grid-template-columns: [first] 20.5% [line2] 79.5%;
}

.side_panel_I{
    z-index: 1000;
    height: 100%;
    display: grid;
    grid-template-rows: [first] 16% [line2] 16%  [line3] 16%  [line4] 16% [line5] 16% [line6] 16% [end];
}




