.conn_panel_1{
    top: 0%;
    left: 0%;
    height: 91%;
    width: 100%;
    padding: None;

}

.bga_panel{
    top: 0%;
    left: 0%;
    position: relative;
    height: 88%;
    width: 20%;
    display: grid;
    grid-template-rows:  repeat(16, 1fr);
}