
.case_mgr_mdl{
    top: 0%;
    left: 20%;
    height: 300px;
    width: 400px;
    border-radius: 10px;
    position: fixed;
    z-index: 4000;
    border-style: solid;
    border-width: 2px; /* Stärke des Rahmens */
    background-color: var(--bg_color_mdl);
    color: var(--text_color_I);
    font-family: "Arial";
}
.case_mgr_mdl_lower{
    top: 40px;
    left: 25px;
    width: 350px;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; /* Zwei gleich breite Spalten */
    grid-template-columns: 1fr 1fr;
     /* Zwei gleich breite Spalten */
    position: relative;
}

.case_mgr_btn{
    border-radius:10px;
    background-color: var(--text_color_I);
    color: var(--bg_color_II);
    border: 0;
    margin: 2px;
    transition: background-color 0.4s ease;
    position: relative;
}

.case_mgr_btn:hover{
    background-color: var(--active_color);
    color: var(--bg_color_II);
}

.case_mgr_btn:active{
    background-color: var(--hover_color);
    color: var(--text_color_I);
}

.cm_drpdwn{
    top: 30%;
    left: 20%;
    width: 60%;
    position: relative;
    color: black;
    background-color: rgb(249, 249, 249);
    border-radius:20px;
}

.cm_drpdwn > .Select-control{
    color: black;
    background-color: rgb(251, 250, 248); 
    border-radius:20px;
}

.new_case_mdl{
    top: 30%;
    left: 30%;
    height: 25%;
    width: 40%;
    border-radius: 10px;
    position: fixed;
    z-index: 5000;
    border-style: solid;
    border-width: 2px;
    display: grid;
    grid-template-rows: [first] 20% [line1] 40%  [line2] 40%  [end];
    background-color: #f7ead5;
    font-family: "Arial";
}

.ncm_input_style{
    top: 0%;
    left: 20%;
    height: 30%;
    width: 60%;
    border-radius: 10px;
    position: relative;
    font-size: 110%;
}

.note_mdl{
    top: 40%;
    left: 53%;
    height: 49%;
    width: 32%;
    border-radius: 10px;
    position: absolute;
    border-width: 1px;
    z-index: 4000;
    border-style: solid;
    border-width: 2px; /* Stärke des Rahmens */
    border-color: var(--text_color_I); /* Farbe des Rahmens */
    background-color: var(--bg_color_mdl);
    color: var(--text_color_I);
    font-family: "Arial";
}

.note_mdl_notes{
    margin: 1%;
    height: 83%;
    width: 96%;
    background-color: var(--bg_color_II);
    color: var(--text_color_I);
    font-family: "Arial";
}
.active_mdl{
    top: 40%;
    left: 20%;
    height: 49%;
    width: 33%;
    border-radius: 10px;
    position: absolute;
    border-width: 1px;
    z-index: 4000;
    border-style: solid;
    border-width: 2px;
    border-color: var(--text_color_I); 
    background-color: var(--bg_color_II);
    color: var(--text_color_II);
    font-family: "Arial";
}
.bga_entry_panel{
    top: 0%;
    left: 0%;
    width: 20%;
    height: 89%;
    position: absolute;
    border-width: 1px;
    border-color: var(--text_color_I);
    background-color: var(--bg_color_II);
    display: grid;
    grid-template-rows: repeat(15, 1fr);
}
.bga_entry_element{
    border-color: var(--text_color_I);
    background-color: var(--bg_color_II);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.bga_entry_btn{
    background-color: var(--bg_color_II);
    color: var(--text_color_I);
    transition: background-color 0.4s ease;
}
.bga_entry_btn:hover {
    background-color: var(--hover_color);
}
.bga_entry_btn:active {
    background-color: var(--active_color);
    color: var(--text_color_active);
}
.paramtr_mdl{
    top: 30%;
    left: 30%;
    height: 300px;
    width: 300px;
    border-radius:12px;
    position: fixed;
    z-index: 3000;
    border-style: solid;
    border-width: 2px; /* Stärke des Rahmens */
    border-color: rgb(255, 176, 5); /* Farbe des Rahmens */
    background-color: #130c01;
    font-family: "Arial";
    display: grid;
    grid-template-rows: [first] 10% [line2] 80% [line3] 10% [end];
}
.Paramtr_mdl_header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40px;
    margin: 0;
    background-color:rgb(255, 176, 5);
    color:#130c01;
}
.paramtr_mdl_panel{
    height: 215px;
    display: grid;
    grid-template-columns: [first] 210px [line2] 90px  [end];
}
.paramtr_mdl_value{
    border-bottom-left-radius: 10px;
    background-color:#130c01;
    color:rgb(255, 176, 5);
    border-style: solid;
    border-width: 1px; /* Stärke des Rahmens */
    border-color: rgb(255, 176, 5); /* Farbe des Rahmens */
    display: grid;
    grid-template-rows: [first] 20% [line2] 60%  [line3] 20% [end];
}
.paramtr_mdl_up_down{
    border-bottom-right-radius: 10px;
    background-color:#130c01;
    color:rgb(255, 176, 5);
    border-style: solid;
    border-width: 1px; /* Stärke des Rahmens */
    border-color: rgb(255, 176, 5); /* Farbe des Rahmens */
    display: grid;
    grid-template-rows: [first] 40% [line2] 40%  [line3] 20% [end];
}