:root{
    --bg_color_I:black;
    --bg_color_II:#00242b;
    --bg_color_III:#2e4e55;
    --bg_color_mdl:#395d64;

    --text_color_I:#ccebfd;
    --text_color_II:#f98a02;
    --text_color_active: rgb(0, 0, 0);
    --red_alert_color:#ed1111;
    --hover_color:#005161;
    --active_color:#009ebd;
    --yellow_alert_color:#fff30f;
}

body{
    background-color: var(--bg_color_I);
    color: var(--bg_color_I);
    height: 100%;
    overflow: hidden;
}
.background{
    position: relative;   /* wichtig! */
    width: 100%;
    height: 100%;
    background: var(--bg_color_I);
    overflow: hidden;
}
.layouts_style{
    background-color: var(--bg_color_I);
    color: var(--bg_color_I);
    height: 100vh;
    overflow: hidden;
}
.ha{
    background-color: var(--bg_color_II);
    color: var(--text_color_I);
    border: none;
    margin: 2px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    font-family: "Arial";
}
.ha:hover {
    background-color: var(--hover_color);
}
.ha:active {
    background-color: var(--active_color);
    color: var(--text_color_active);
}
.tabbar_btn{
    border: none;
    margin: 2px;
    border-radius: 6px;
    background-color:var(--bg_color_III);
    color: var(--text_color_I);
}
.tabbar_btn:hover{
    background-color:var(--hover_color);
    color: var(--text_color_I);
}
.tabbar_btn:active{
    background-color: var(--active_color);
    color: var(--text_color_active);
}
.bolus_button{
    border: none;
    background-color:#f88400;
    color: #130c01;
}
.bolus_button:hover{
    background-color:#decc01;
    color: #130c01;
}
.bolus_button:active{
    background-color: #8e8200;
    color: white; 
}
.tabbar{
    top: 90%;
    left: 0%;
    width: 100%;
    height: 10%;
    position: fixed;
    display: grid;
    grid-template-columns: [row1-start] 16% [line1] 10%  [line2] 8% [line3] 8% [line4] 8% [line5] 8% [line6] 8% [line7] 8% [line8] 16% [line9] 10% [line10];
    grid-template-rows: [first] 100% [end];
}
.top_line{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 5%;
    position: fixed;
    display: grid;
    grid-template-columns: [first] 40% [line2] 40%  [line3] 20% [line4] 20% [line5] 20% [end];
    font-family: Arial;
}
.side_panel_II{
    right: 0%;
    top: 0%;
    width: 15%;
    height: 90%;
    position: fixed;
    display: grid;
    grid-template-rows: [first] 16% [line2] 16%  [line3] 16%  [line4] 16% [line5] 16% [line6] 16% [end];
}
.side_panel_I{
    top: 0%;
    left: 0%;
    width: 20%;
    height: 90%;
    position: fixed;
    display: grid;
    grid-template-rows: [first] 16% [line2] 16%  [line3] 16%  [line4] 16% [line5] 16% [line6] 16% [end];
}
.second_panel{
    top: 13%;
    left: 0%;
    width: 100%;
    height: 12%;
    position: fixed;
    display: grid;
    grid-template-columns: [first] 17% [line2] 17%  [line3] 16%  [line4] 17% [line5] 17% [line6] 16% [end];
}
.third_panel{
    top: 26%;
    left: 0%;
    width: 100%;
    height: 12%;
    position: fixed;
    display: grid;
    grid-template-columns: [first] 17% [line2] 17%  [line3] 16%  [line4] 17% [line5] 17% [line6] 16% [end];
}
.side_panel_1{
    background-color: var(primary_button_color);
    top: 25%;
    left: 60%;
    width: 40%;
    height: 25%;
    position: fixed;
    display: grid;
    grid-template-columns: [first] 50% [line2] 50%  [end];
}
.side_panel_2{
    background-color: var(primary_button_color);
    top: 50%;
    left: 60%;
    width: 40%;
    height: 41%;
    position: fixed;
    display: grid;
    grid-template-columns: [first] 33% [line2] 34%  [line2] 33% [end];
    grid-template-rows: [first] 25% [line2] 25%  [line3] 25%  [line4] 25% [end];
}
.effector_mod{
    background-color: #130c01;
    color: rgb(255, 176, 5);
    top: 25%;
    left: 0;
    height: 66%;
    width: 60%;
    position: fixed;
}
.progressbar{
    background-color: #130c01;
    color: rgb(255, 176, 5);
    top: 30%;
    height: 15%;
    width: 30%;
}



